.glossary {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  padding: 10px 0;
  :hover {
    color: #F52E4E;
    font-weight: 600;
  }
  a {
    transition: color 500ms linear;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 4px 3px rgba(0,0,0,0.13);
  }
}