.input {
  margin: 0;
  border: none;
  box-shadow: 3px 4px 4px 1px rgba(0,0,0,0.10);
  border-radius: 10px;
  outline: none;
  flex: 1 1 100%;
  padding: 0px 18px;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #535353;
}